* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

/* HEADER SECTION */
.header {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 30px 0 30px 180px;
  background-color: #385a64;
}

.header .git__link {
  font-size: 20px;
  color: #f0f0f0;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.hero__wrapper {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
  padding: 45px 0;
}

.hero__content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero__image {
  margin-left: 180px;
}

.hero__image img {
  width: 400px;
}

.hero__title {
  font-size: 40px;
  margin-bottom: 30px;
}

.hero__title span {
  color: #ff735c;
}

.hero__description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 55px;
}

.hero__actions .btn:hover {
  background-color: #497785;
  cursor: pointer;
}
