* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

/* HEADER SECTION */
.header {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 30px 0 30px 180px;
  background-color: #385a64;
}

.header .git__link {
  font-size: 20px;
  color: #f0f0f0;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.hero__wrapper {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
  padding: 45px 0;
}

.hero__content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero__image {
  margin-left: 180px;
}

.hero__image img {
  width: 400px;
}

.hero__title {
  font-size: 40px;
  margin-bottom: 30px;
}

.hero__title span {
  color: #ff735c;
}

.hero__description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 55px;
}

.hero__actions .btn:hover {
  background-color: #497785;
  cursor: pointer;
}

/* LOCATION SECTION */
.location {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  padding: 50px 0;
}

.location__title {
  text-align: center;
  font-size: 40px;
  color: #ff735c;
  padding-bottom: 50px;
}

.location__cards {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* FOOTER SECTION */
.footer {
  padding: 50px 0;
  text-align: center;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #385a64;
  font-size: 18px;
  line-height: 21px;
}

/* CARD COMPONENT */
.card {
  width: 30%;
  padding: 20px 0;
  display: inline-block;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #ff735c;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #385a64;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  /* HEADER SECTION */
  .header {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 20px 0 20px 40px;
  }

  .header .git__link {
    font-size: 16px;
  }

  /* HERO SECTION */
  .hero {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .hero__wrapper {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    padding: 0;
  }

  .hero__content {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .hero__image {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .hero__image img {
    width: 250px;
  }

  .hero__title {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .hero__description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 55px;
  }

  .btn {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #ffffff;
    background: #ffffff;
    transition: 250ms;
    background-color: #385a64;
    font-size: 18px;
    line-height: 20px;
  }

  /* lOCATION (CARDS) SECTION */
  .location__title {
    text-align: center;
    font-size: 32px;
    color: #385a64;
    padding-bottom: 40px;
  }

  .location__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    width: 100%;
    padding: 20px 0;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding: 75px 30px 30px 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    position: relative;
  }
}
